{% load static i18n %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Pomandi.com men's suit customer tracking form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <div style="position: absolute; top: 10px; left: 0; right: 0; margin-bottom: 20px; z-index: 1;">
        <div style="float: left; margin-right: 20px;">
            <a href="/admin/" class="admin-button">Inloggen</a>
        </div>
        <div style="float: right;">
            <a href="/en/tailoring/create/" class="language-button">English</a>
            <a href="/fr/tailoring/create/" class="language-button">Français</a>
            <a href="/nl/tailoring/create/" class="language-button">Nederlands</a>
        </div>
        <div style="clear: both;"></div>
    </div>
    
    
    
    


    <h1>{% trans "Müşteri Bilgileri" %}</h1>
        
    <h2 id="total_price">{% trans "Toplam Tutar:" %} 0€</h2>

    {% comment %} {% if total_price %}
    <h2>Toplam Tutar: {{ total_price }}</h2>
    {% endif %} {% endcomment %}
    {% if urgent_weddings %}
    <p style="color: red;">Düğün tarihi 10 günden az!</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="{{ form.service_type.id_for_label }}">{% trans "Service Type" %}:</label> {{ form.service_type }}<br>
        <label for="{{ form.name.id_for_label }}">{% trans "Name" %}:</label> {{ form.name }}<br>
        <label for="{{ form.email.id_for_label }}">{% trans "Email" %}:</label> {{ form.email }}<br>
        <label for="{{ form.phone.id_for_label }}">{% trans "Phone" %}:</label> {{ form.phone }}<br>
        <label for="{{ form.wedding_date.id_for_label }}">{% trans "Wedding Date" %}:</label>
        {% if form.wedding_date %}
            <input type="text" id="{{ form.wedding_date.id_for_label }}" name="{{ form.wedding_date.name }}" value="{{ form.wedding_date.value|default_if_none:"" }}">
        {% else %}
            {{ form.wedding_date }}
        {% endif %}
        <br>
        <label for="{{ form.is_pickup.id_for_label }}">{% trans "Is Pickup" %}:</label> {{ form.is_pickup }}<br>
        <label for="{{ form.land.id_for_label }}">{% trans "Country" %}:</label> {{ form.land }}<br>
        <label for="{{ form.straat.id_for_label }}">{% trans "Street" %}:</label> {{ form.straat }}<br>
        <label for="{{ form.huisnummer.id_for_label }}">{% trans "House Number" %}:</label> {{ form.huisnummer }}<br>
        <label for="{{ form.bus.id_for_label }}">{% trans "Bus" %}:</label> {{ form.bus }}<br>
        <label for="{{ form.postcode.id_for_label }}">{% trans "Postal Code" %}:</label> {{ form.postcode }}<br>
        <label for="{{ form.stad.id_for_label }}">{% trans "City" %}:</label> {{ form.stad }}<br>
        <label for="{{ form.productvoorraadnummer.id_for_label }}">{% trans "Product Stock Number" %}:</label> {{ form.productvoorraadnummer }}<br>
        <label for="{{ form.jasmaat.id_for_label }}">{% trans "Jacket Size" %}:</label> {{ form.jasmaat }}<br>
        <label for="{{ form.vestmaat.id_for_label }}">{% trans "Vest Size" %}:</label> {{ form.vestmaat }}<br>
        <label for="{{ form.broekmaat.id_for_label }}">{% trans "Pants Size" %}:</label> {{ form.broekmaat }}<br>
        <label for="{{ form.location.id_for_label }}">{% trans "Location" %}:</label> {{ form.location }}<br>
        <label for="{{ form.description.id_for_label }}">{% trans "Description" %}:</label> {{ form.description }}<br>
        
        <h2>{% trans "Maatwerkdiensten" %}</h2>

        {% for service in services %}
        <input type="checkbox" name="services" value="{{ service.id }}" data-price="{{ service.price }}"> {{ service.name }}<br>

        {% endfor %}
        <button type="submit">{% trans "Kaydet" %}</button>

    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let total_price = 0;
            const serviceCheckboxes = document.querySelectorAll('input[name="services"]');
            const totalElement = document.getElementById('total_price');
    
            serviceCheckboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    const price = parseFloat(this.getAttribute('data-price'));
                    if (this.checked) {
                        total_price += price;
                    } else {
                        total_price -= price;
                    }
                    totalElement.innerText = "Total amount: " + total_price.toFixed(2) + "€";
                });
            });
        });


        $( function() {
            $( "#id_wedding_date" ).datepicker({
                showOn: "both",
                buttonImageOnly: false,
            });
        } );



        document.addEventListener("DOMContentLoaded", function() {
            const dateInput = document.getElementById("id_wedding_date");
            dateInput.addEventListener("focus", function() {
                this.type = 'date';
            });
            dateInput.addEventListener("blur", function() {
                this.type = 'text';
            });
        });
        
    </script>

   
        
    
</body>
</html>
