{% extends "admin/change_form.html" %}
{% load static %}
{% load static i18n %}


{% block submit_buttons_bottom %}
    {% if original and original.pk %}
        <a href="{% url 'admin:tailoring_customer_send_email' original.pk %}" class="button">E-posta Gönder</a>
        <a href="{% url 'admin:tailoring_customer_send_sms' original.pk %}" class="button">SMS Gönder</a>
        <a href="{% url 'admin:tailoring_customer_print_pdf' original.pk %}" class="button">Print PDF</a>  <!-- yeni ekledik -->
    {% endif %}
    {{ block.super }}
{% endblock %}
